.Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27303B;
    height: 80px;
}

.Logo{
    width: 120px;
}


.ColorOptions{
    width: fit-content;
}

.WatchOption{
    cursor: pointer;
    width: 80px;
    border-radius: 20px;
    margin-right: 10px;
}

.selectedWatchoption{
    border: 2px solid teal;
}

.MainWatch{
    width: 500px;
}

.Details{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Buy{
    border: none;
    margin: 12px 0px;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: lightskyblue;
    color: white;
    transform: translateY(-6px);
}

.Btn{
    background-color: lightgray; /* Green */
    border: none;
    color: gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-right: 20px;
}

.SelectedBtn{
    background-color: gray;
    color: white;
}

.FeatureData{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
}

.FeatureHeartBeat{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 48px;
    font-weight: 600;
}


.FeatureHeartBeat>i{
    margin-bottom: 80px;
    color: red;
    animation: beat 1s infinite;
}

@keyframes beat {
    0%{
        transform: scale(1,1);
    }

    50%{
        transform:scale(1.2,1.2);
    }

    100%{
        transform: scale(1,1);
    }
}
.ProductPreview{
    position:relative;
}