.Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27303B;
    height: 80px;
}

.Logo{
    width: 120px;
}

@media screen and (max-width: 600px){
    .Logo{
        width: 30%;
    }
}

